/* **************************************************************************
   SETTINGS > COLORS
   To get the color name: http://veli.ee/colorpedia/?c=354052
   ************************************************************************** */

// Black
$black: #000000;
$ebony-clay: #273142;
$mirage: #1b2431;
$mirage2: #171e29;
$oxford-blue: #313d4f;

// White
$white: #ffffff;
